
<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<h4 style="direction: rtl; text-align: right;">
  نمودار نسبت مشترکین آقا و خانم:
</h4>
<%= pie_chart Person.all.joins(:gender).group("genders.name").count %>
<h4 style="direction: rtl; text-align: right;">
  نمودار نسبت مشترکین شهر ها:
</h4>
<%= pie_chart Person.all.joins(:city).group("cities.name").count %>
<h4 style="direction: rtl; text-align: right;">
  نمودار نسبت مشترکین در دوره پرداخت:
</h4>
<%= pie_chart Person.group(:pay_period).count %>
<h4 style="direction: rtl; text-align: right;">
  نمودار نسبت مشترکین از لحاظ سنی:
</h4>
<%= column_chart Person.with_birthday.group("people.birthdate").count.map{|bd, count| [ "#{(Time.now.year - bd.year).to_s}" , count] } , colors: [ '#5ea3d3'] %>
